<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunying.gh.mapper.ContributionMapper">

    <select id="selectCountByRepoId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM contribution
        WHERE repo_id = #{repoId}
    </select>
    <select id="selectCommitCountByRepoId" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(commit_count), 0)
        FROM contribution
        WHERE repo_id = #{repoId}
    </select>
    <select id="selectByDevIdAndRepoId" resultType="com.yunying.gh.domain.Contribution">
        SELECT *
        FROM contribution
        WHERE repo_id = #{repoId}
          AND dev_id = #{devId}
    </select>
    <select id="selectByDevId" resultType="com.yunying.gh.domain.Contribution"
            parameterType="java.lang.Integer">
        SELECT *
        FROM contribution
        WHERE dev_id = #{devId}
    </select>
    <select id="selectRepoByDevId" resultType="com.yunying.gh.domain.Repository">
        SELECT *
        FROM repository
        WHERE repo_id IN (SELECT repo_id FROM contribution WHERE dev_id = #{devId})
    </select>
</mapper>
